.image-home{
    width : 100% ;
}
.image-project{
    width : 100% ;
}
.image-menu{
    width : 100% ;
}
.profile-pic{
   width:350px; 
   border-radius:80px;
}
.profile-pic-div{
   border-color:black;
}